parser
y.output

example01/example01
example01/example01.exe

example02/example02
example02/example02.exe

example03/example03
example03/example03.exe

example04/example04
example04/example04.exe

nex01/nex01
nex01/nex01.exe

nex02/nex02
nex02/nex02.exe

ch01-01-flex/ch01-01
ch01-01-flex/ch01-01.exe

ch01-01-nex/ch01-01
ch01-01-nex/ch01-01.exe

rp/rp
rp/rp.exe